<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(function(product) { %>
      <tr>
        <td><%= product.attributes.name %></td>
        <td><%= product.attributes.price %></td>
        <td><a href="http://localhost:3000<%= product.links.self %>">Excluir</a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>